@{
    ViewBag.Title = "Page Not Found";
}

<div class="row">
    <div class="box text-center">
        <h1 class="text-danger">Page not found.</h1>
        <h2 class="text-danger">Could not find the resource you are looking for.</h2>
    </div>
</div>